{{#plugins}}
    <div class="card mb-3 bifilter-plugin" data-plugin-key="{{{key}}}">
        <div class="card-body">
            <label class="form-label mb-1" for="bifilter-enabled-{{{key}}}">
                {{{title}}}
            </label>
            <select class="form-select bifilter-enabled"
                    id="bifilter-enabled-{{{key}}}"
                    data-plugin-key="{{{key}}}"
                    name="filters[{{{key}}}][enabled]">
                <option value="0">{{#str}}filter_inactive, biblocks_table{{/str}}</option>
                <option value="1" {{#yes-selected}}selected{{/yes-selected}}>{{#str}}
                    filter_active, biblocks_table{{/str}}</option>
            </select>
            {{{message}}}

            <div class="mt-3 bifilter-plugin-options"
                 id="bifilter-plugin-options-{{{key}}}"
                 style="{{^yes-selected}}display:none;{{/yes-selected}}">
                <label class="form-label" for="bifilter-field-{{{key}}}">
                    {{#str}}filter_choose_field_to_filter, biblocks_table{{/str}}
                </label>

                <select class="form-select"
                        id="bifilter-field-{{{key}}}"
                        name="filters[{{{key}}}][field]">
                    <option value="">..::{{#str}}filter_select, biblocks_table{{/str}}::..</option>
                    {{#tablefields}}
                        <option value="{{{field}}}" {{#selected}}selected{{/selected}}>{{{field}}}</option>
                    {{/tablefields}}
                </select>
            </div>
        </div>
    </div>
{{/plugins}}

<div class="d-flex justify-content-end">
    <button class="btn btn-primary" type="submit">
        {{#str}}filter_save, biblocks_table{{/str}}
    </button>
</div>

{{#js}}
    /*
    <script>*/
    require(['jquery'], function ($) {
        function toggleOptions($select) {
            var key = $select.attr("data-plugin-key");
            console.log(key);
            console.log($select.val());

            if ($select.val() == 1) {
                console.log(true);
                $(`#bifilter-plugin-options-${key}`).show();
            } else {
                console.log(false);
                $(`#bifilter-plugin-options-${key}`).hide();
            }
        }

        $('.bifilter-enabled').each(function () {
            toggleOptions($(this));
        }).on('change', function () {
            toggleOptions($(this));
        });
    });
{{/js}}
